#!/usr/bin/env xdg-open
[Desktop Entry]
Exec=konsole --workdir ~/git/youtube-to-mp3/ --separate --hold -e ~/git/youtube-to-mp3/updater.sh
Icon=text-x-script.svg
Name=Aur Maintainer
Type=Application
X-Deepin-Vendor=user-custom
