#!/usr/bin/env xdg-open
[Desktop Entry]
Exec=konsole --workdir /run/media/mattes/SSD_500GB_Internal/Coding/git/youtube-to-mp3/ --separate --hold -e ./updater.sh
Icon=text-x-script.svg
Name=Aur Maintainer
Type=Application
X-Deepin-Vendor=user-custom
